<div class="large-12 colum">
  <h1>News tips <br>from your friends</h1>
  <p>Your social networks are a treasure trove of data. Help identify news that relates to you by filtering it with your social network.</p>
</div>

<div class="large-12 column">
  <div class="row">
      <h2>News Triangle filters your news</h2>
    <div class="large-4 column">
      <%= image_tag 'locationicon.png' %>
      <h3>Locations</h3>
      <%= link_to about_path, class: 'button' do %>
      Learn more
      <% end %>
    </div>
    <div class="large-4 column">
      <%= image_tag 'companyicon.png' %>
      <h3>Companies</h3>
      <%= link_to about_path, class: 'button' do %>
      Learn more
      <% end %>
    </div>
    <div class="large-4 column">
      <%= image_tag 'connectionicon.png' %>
      <h3>Connections</h3>
      <%= link_to about_path, class: 'button' do %>
      Learn more
      <% end %>
    </div>
  </div>
</div>

<div class="large-12 column">
  <div class="row">
      <h2>News Triangle uses your social networks as a filter</h2>
    <div class="large-6 column">
    <ul class="no-bullet">
      <li>
        <%= image_tag 'facebooklogo.jpeg' %>
        <%= image_tag 'linkedinlogo.jpeg' %>
        <%= image_tag 'twitterlogo.jpeg' %>
      </li>
    </ul>
    </div>
    <div class="large-6 column">
      <%= link_to about_path, class: 'button' do %>
      Connect now
      <% end %>
    </div>
  </div>
</div>
