<div class="large-6 column">
  <h1>News tips <br>from your friends</h1>
  <p>Tap your social networks to identify socially relevant news.</p>
</div>
<div class="large-6 column">
  <%= image_tag 'explain.png' %>
</div>
<div class="large-12">
  <div class="row column">
    <div class="large-4 column">
      <h3>
        Locations
      </h3>
      <p>
        Know when relevant locations come up in the news
      </p>
    </div>
    <div class="large-8 column">
        <%= image_tag 'facebook.png' %>
    </div>
    
  </div>
  <div class="row column">
    <div class="large-4 column">

    </div>
    <div class="large-8 column">
        <%= image_tag 'guardian.png' %>
    </div>
    
  </div>
</div>
<div class="large-12">
  <div class="row column">
    <div class="large-8 column">
      <%= image_tag 'linkedin.png' %>
    </div>
    <div class="large-4 column">
      <h3>
        Companies
      </h3>
    </div>
  </div>
  <div class="row column">
    <div class="large-8 column">
      <%= image_tag 'bloomberg.png' %>
    </div>
    <div class="large-4 column">

    </div>
  </div>
</div>
<div class="large-12">
  <div class="row column">
    <div class="large-4 column">
      <h3>
        Interactions
      </h3>
    </div>
    <div class="large-8 column">
        <%= image_tag 'twitter.png' %>
    </div>
    
  </div>
</div>