<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "News Triangle" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/topnav' %>
    
    <div class="row">
      <% if notice %>
      <p class="info alert-box"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-box"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
 
    <%= javascript_include_tag "application" %>
  </body>
</html>